.Título{color: red;}
body {
    background-image: url("https://th.bing.com/th/id/R.3c800e1b8436df2597978a0ee9bffd00?rik=K7mxbdnjBMColQ&pid=ImgRaw&r=0");
    opacity: 100;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center; }